.code_block {
    background-color:rgb(253, 251, 249);
    word-wrap: normal;
    margin: auto;
    overflow: scroll;
    max-width: fit-content;
}
.build_dot_c {
    opacity: 1.0;
}
body {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='160px' width='220px'><text x='5' y='5' font-size='30' fill='red'>build.c</text></svg>");
}
